<div class="flex flex-col items-center">
  <div>
    <% if show_countable? %>
      <span class="text-sm text-gray-800 dark:text-white">
          Showing <span class="font-semibold text-gray-900 dark:text-white"><%= pagination_start %></span> to <span class="font-semibold text-gray-900 dark:text-white"><%= pagination_end %></span> of <span class="font-semibold text-gray-900 dark:text-white"><%= number_with_delimiter(num_results) %></span> <%= pagination_resource %>
      </span>
    <% end %>
  </div>
  <% if should_paginate? %>
    <div class="inline-flex mt-2 xs:mt-0">
      <!-- Buttons -->
      <%= link_to(
        "First",
        link_to_page(first_page_number),
        data: { 
          turbo_action: 'advance',
          turbo_frame: sal_results_outer_id
        },
        class: "button inline-flex items-center py-2 px-4 text-sm font-medium border-r rounded-l bg-cornflower-blue-300 hover:bg-cornflower-blue-500 text-white"
      ) %>

      <%= link_to(
        link_to_page(previous_page_number),
        data: {
          turbo_action: 'advance',
          turbo_frame: sal_results_outer_id
        },
        class: "button inline-flex items-center py-2 px-4 text-sm font-medium border-r bg-cornflower-blue-300 hover:bg-cornflower-blue-500 text-white"
        ) do %>

          <svg aria-hidden="true" class="mr-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
          Prev

      <% end %>

      <%= link_to(
        link_to_page(next_page_number),
        data: {
          turbo_action: 'advance',
          turbo_frame: sal_results_outer_id
        },
        class: "button inline-flex items-center py-2 px-4 text-sm font-medium border-l bg-cornflower-blue-300 hover:bg-cornflower-blue-500 text-white"
        )  do %>
          
          Next
          <svg aria-hidden="true" class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>

      <% end %>

      <%= link_to(
        "Last",
        link_to_page(last_page_number),
        data: {
          turbo_action: 'advance',
          turbo_frame: sal_results_outer_id
        },
        class: "button inline-flex items-center py-2 px-4 text-sm font-medium border-l rounded-r bg-cornflower-blue-300 hover:bg-cornflower-blue-500 text-white"
      ) %>
    </div>
  <% end %>
</div>