<%= turbo_frame_tag advanced_search_form_tf_id do %>
  <%= form_tag advanced_search_form_path, method: :get, data: { turbo_frame: sal_form_target_frame, turbo_action: "advance", controller: sal_form_controller } do %>

    <%= sal_form_section id: "advanced-search-submit-top-outer" do %>
      <span class="text-2xl font-bebas-neue">Search Settings</span>
      <div class="mt-4 text-center">
        <%= sal_form_submit_tag %>
      </div>
    <% end %>

    <%= sal_form_section id: "advanced-search-inputs" do %>
      <span class='text-2xl font-bebas-neue'>Filters</span>
      <div id="advanced-search-input-options">
        <% @builder.searchables.each do |field| %>
          <%= label_and_input_tags_for_search(field) %>
        <% end %>

        <% @builder.filterables.each do |field| %>
          <%= label_and_input_tags_for_filter(field) %>
        <% end %>
      </div>
    <% end %>

    <%# hidden 'eager' tag will tell the controller that results should be fetched in eager mode, meaning a lazy turbo frame will be rendered that will do the actual fetching of results (otherwise the page would take forever to load) %>
    <%= hidden_field_tag :eager, "1" %>

    <%= sal_form_section id: "advanced-search-submit-bottom-outer" do %>
      <div class="text-center">
        <%= sal_form_submit_tag %>
      </div>
    <% end %>

  <% end %>
<% end %>
