<div class="bg-cornflower-blue-500 py-6">
  <div class="w-5/6 mx-auto flex">
    <div class="flex flex-col w-1/2">
      <h1 class="font-bebas-neue text-4xl text-white font-bebas-neue">Search <%= @title %></h1>
    </div>
    <div class="flex flex-col w-1/2">
      <div class="flex justify-end">
        <%= new_resource_button %>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="w-5/6 mx-auto py-6">
    <%= turbo_frame_tag 'sal-outer' do %>        
      <div class="lg:flex">
        <div class="lg:flex lg:flex-col lg:w-1/3">
          <div id="sal-form-outer" class="bg-white dark:bg-gray-800 text-gray-800 dark:text-white border border-gray-300 dark:border-gray-900 shadow rounded-md">
            <div>
              <%= render partial: "advanced_searches/form" %>
            </div>
          </div>
        </div>
        <div class="mt-10 lg:mt-0 lg:flex lg:flex-col lg:w-2/3" id="results">
          <div class="lg:w-11/12 lg:ml-auto">
            <%= turbo_frame_tag sal_results_outer_id  do %>
              <%= sal_results_tf_tag %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
