<%= turbo_frame_tag 'new-export' do %>
  <div data-controller='modal-injection'>
    <div class='p-4' data-controller='exports'>
      <h2 class='text-2xl'>Download Results</h2>
      <div data-exports-target="wrapper">
        <%= turbo_frame_tag 'downloads-wrapper' do %>
          <div data-exports-target='formWrapper'>
            <%= form_tag create_analysis_download_path, data: { action: 'submit->exports#showProcessing' } do %>
              <div class='flex flex-row mt-6'>
                <%= text_field_tag :name, nil, class: 'inline-block' %>
                <%= label_tag :filename, 'File Name', class: 'inline-block ml-4' %>

                <%= hash_as_hidden_fields(@builder_params) %>
              </div>

              <div class='flex flex-row mt-6'>
                <%= submit_tag "Download", class: "text-white text-lg bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800", data: { exports_target: 'submitButton' } %>
              </div>
            <% end %>
          </div>
          <div data-exports-target='spinnerWrapper' class='hidden'>
            <%= render partial: 'shared/spinner' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
