<div class='bg-white dark:bg-gray-800 text-gray-800 dark:text-white border border-gray-300 dark:border-gray-900 shadow rounded-md p-4'>
  <div>
    <h3 class="font-bebas-neue text-4xl">Reminders</h3>
  </div>

  <% if !resource_has_reminders?(resource) %>

    <div class="py-4">
      <span class="text-xl"><%= no_reminders_message(resource) %></span>
    </div>

  <% else %>

    <% if resource_has_past_due_reminders?(resource) %>
      <div class="py-4 border-b border-b-4 border-gray-300">
        <h5 class="text-xl text-red">Past Due ⚠️:</h5>
        <div>
          <%= render_reminders_partial(past_due_reminders_collection(resource)) %>
        </div>
      </div>
    <% end %>

    <% if resource_has_upcoming_reminders?(resource) %>
      <div class="py-4 border-b border-b-4 border-gray-300">
        <h5 class="text-xl">Upcoming ⏰:</h5>
        <div>
          <%= render_reminders_partial(upcoming_reminders_collection(resource).take(5)) %>
        </div>
        <div class="mt-2">
          <%= link_to "See All #{num_upcoming_reminders(resource)} Upcoming Reminders", reminders_path("reminder_subjects.id": [resource.reminder_subject.id]) %>
        </div>        
      </div>
    <% end %>

    <% if resource_has_completed_reminders?(resource) %>
      <div class="py-4">
        <h5 class="text-xl">Completed ✅:</h5>
        <div>
          <%= render_reminders_partial(completed_reminders_collection(resource).take(5)) %>
        </div>
      </div>
        <div class="mt-2">
          <%= link_to "See All #{num_completed_reminders(resource)} Completed Reminders", reminders_path("reminder_subjects.id": [resource.reminder_subject.id]) %>
        </div>      
    <% end %>

  <% end %>
</div>