<div id="<%= dom_id account %>" class="w-full sm:w-auto my-5 space-y-5">
	<div id="header-outer">
		<%= render partial: "resources/header", locals: { resource: @account } %>
	</div>
	<div class="md:flex md:flex-row">
		<div class="md:flex md:flex-col md:w-2/3 md:pr-3">
			<%= render partial: "details" %>

      <% if account_has_deals?(account) %>
      	<div class="mt-4">
      		<%= render partial: "deals" %>
      	</div>
      <% end %>

      <% if account_has_people?(account) %>
        <div class="mt-4">
          <%= render partial: "resources/people", locals: { resource: @account } %>
        </div>
      <% end %>
		</div>
		<div class="md:flex md:flex-col md:w-1/3 md:pl-3 mt-4 md:mt-0">
			<%= render partial: "resources/reminders", locals: { resource: @account } %>
		</div>
	</div>
</div>
